Imports

In [13]:
import sqlite3
import pandas as pd

Criando o banco e as tabelas

In [14]:
conn = sqlite3.connect('db_avaliacao_filmes.db')
cursor = conn.cursor()

In [15]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Filme (
id_filme INTEGER PRIMARY KEY,
nome_filme VARCHAR(100),
genero_filme VARCHAR(30),
imdb_link VARCHAR(1000),
img_link VARCHAR(1000),
popularidade_filme INT,
duracao_filme FLOAT,
sinopse VARCHAR(1000),
diretor_filme VARCHAR(50),
ano_lancamento INT,
nota_filme FLOAT,
produtora_filme VARCHAR(100)
)
''')

In [16]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Usuario (
id_usuario INTEGER PRIMARY KEY AUTOINCREMENT,
username VARCHAR(100)
)
''')

In [17]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Avaliacao (
id_avaliacao INTEGER PRIMARY KEY AUTOINCREMENT,
id_usuario INTEGER,
fk_filme_id INTEGER,
nota_avaliacao FLOAT,
FOREIGN KEY (id_usuario) REFERENCES Usuario (id_usuario),
FOREIGN KEY (fk_filme_id) REFERENCES Filme (id_filme)
)
''')

In [18]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Ator (
id_ator INT PRIMARY KEY,
nome_ator VARCHAR(100)
)
''')

In [19]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS filme_ator (
id_filme INT,
id_ator INT,
FOREIGN KEY (id_filme) REFERENCES Filme (id_filme),
FOREIGN KEY (id_ator) REFERENCES Ator (id_ator)
)
''')

In [20]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS idioma (
id_idioma INT PRIMARY KEY,
nome_idioma VARCHAR(100)
)
''')

In [21]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS filme_idioma (
id_filme INT,
id_idioma INT,
FOREIGN KEY (id_filme) REFERENCES Filme (id_filme),
FOREIGN KEY (id_idioma) REFERENCES idioma (id_idioma)
)
''')


conn.commit()

Populando o banco

In [22]:
filmes_df = pd.read_csv('filmes.csv')
filmes_df.to_sql('Filme', conn, if_exists='append', index=False)

atores_df = pd.read_csv('atores.csv')
atores_df.to_sql('Ator', conn, if_exists='append', index=False)

usuarios_df = pd.read_csv('usuarios.csv')
usuarios_df.to_sql('Usuario', conn, if_exists='append', index=False)

avaliacoes_df = pd.read_csv('avaliacoes.csv')
avaliacoes_df.to_sql('Avaliacao', conn, if_exists='append', index=False)

filme_ator_df = pd.read_csv('filme_ator.csv')
filme_ator_df.to_sql('filme_ator', conn, if_exists='append', index=False)

filme_idioma_df = pd.read_csv('filme_idioma.csv')
filme_idioma_df.to_sql('filme_idioma', conn, if_exists='append', index=False)

20

In [23]:
conn.commit()

Conectando com o banco e fazendo queries

In [24]:
conn = sqlite3.connect('db_avaliacao_filmes.db')

In [26]:
query = '''
SELECT U.id_usuario, U.username, F.id_filme, F.nome_filme, F.genero_filme, F.imdb_link, F.img_link, F.popularidade_filme,
F.duracao_filme, F.sinopse, F.diretor_filme, F.ano_lancamento, F.nota_filme, F.produtora_filme,
GROUP_CONCAT(A.nome_ator) AS atores,
GROUP_CONCAT(I.nome_idioma) AS idiomas,
MAX(AV.nota_avaliacao) AS nota_avaliacao
FROM Usuario U
INNER JOIN Avaliacao AV ON U.id_usuario = AV.id_usuario
INNER JOIN Filme F ON AV.fk_filme_id = F.id_filme
LEFT JOIN filme_ator FA ON F.id_filme = FA.id_filme
LEFT JOIN Ator A ON FA.id_ator = A.id_ator
LEFT JOIN filme_idioma FI ON F.id_filme = FI.id_filme
LEFT JOIN idioma I ON FI.id_idioma = I.id_idioma
GROUP BY U.id_usuario, F.id_filme
'''

df = pd.read_sql_query(query, conn)

print(df)

    id_usuario username  id_filme
0            1    user1         1  \
1            2    user2         2
2            3    user3         3
3            4    user4         4
4            5    user5         5
5            6    user6         6
6            7    user7         7
7            8    user8         8
8            9    user9         9
9           10   user10        10
10          11   user11        11
11          12   user12        12
12          13   user13        13
13          14   user14        14
14          15   user15        15
15          16   user16        16
16          17   user17        17
17          18   user18        18
18          19   user19        19
19          20   user20        20

                                           nome_filme genero_filme
0                            The Shawshank Redemption        Drama  \
1                                       The Godfather        Crime
2                                     The Dark Knight       Action
3                                        Pulp Fiction        Crime
4                                          Fight Club        Drama
5                                        Forrest Gump        Drama
6                                           Inception       Action
7                                          The Matrix       Action
8   The Lord of the Rings: The Fellowship of the Ring    Adventure
9                                        The Avengers       Action
10                                       Interstellar    Adventure
11                                          Gladiator       Action
12                           The Silence of the Lambs        Crime
13                                      The Lion King    Animation
14                                       The Departed        Crime
15                                   Schindler's List    Biography
16                                       The Prestige      Mystery
17                                         Braveheart    Biography
18                                         Goodfellas        Crime
19                                         Casablanca        Drama

                                imdb_link
0   https://www.imdb.com/title/tt0111161/  \
1   https://www.imdb.com/title/tt0068646/
2   https://www.imdb.com/title/tt0468569/
3   https://www.imdb.com/title/tt0110912/
4   https://www.imdb.com/title/tt0137523/
5   https://www.imdb.com/title/tt0109830/
6   https://www.imdb.com/title/tt1375666/
7   https://www.imdb.com/title/tt0133093/
8   https://www.imdb.com/title/tt0120737/
9   https://www.imdb.com/title/tt0848228/
10  https://www.imdb.com/title/tt0816692/
11  https://www.imdb.com/title/tt0172495/
12  https://www.imdb.com/title/tt0102926/
13  https://www.imdb.com/title/tt0110357/
14  https://www.imdb.com/title/tt0407887/
15  https://www.imdb.com/title/tt0211915/
16  https://www.imdb.com/title/tt0482571/
17  https://www.imdb.com/title/tt0112573/
18  https://www.imdb.com/title/tt0099685/
19  https://www.imdb.com/title/tt0034583/

                               img_link  popularidade_filme  duracao_filme
0    https://www.example.com/image1.jpg                 9.3          142.0  \
1    https://www.example.com/image2.jpg                 9.2          175.0
2    https://www.example.com/image3.jpg                 9.0          152.0
3    https://www.example.com/image4.jpg                 8.9          154.0
4    https://www.example.com/image5.jpg                 8.8          139.0
5    https://www.example.com/image6.jpg                 8.8          142.0
6    https://www.example.com/image7.jpg                 8.7          148.0
7    https://www.example.com/image8.jpg                 8.7          136.0
8    https://www.example.com/image9.jpg                 8.7          178.0
9   https://www.example.com/image10.jpg                 8.6          143.0
10  https://www.example.com/image11.jpg                 8.6          169.0
11  https://www.example.com/image12.jpg                 8.5          155.0
12  https://www.example.com/image13.jpg                 8.6          118.0
13  https://www.example.com/image14.jpg                 8.5           88.0
14  https://www.example.com/image15.jpg                 8.5          151.0
15  https://www.example.com/image16.jpg                 8.5          195.0
16  https://www.example.com/image17.jpg                 8.5          130.0
17  https://www.example.com/image18.jpg                 8.3          177.0
18  https://www.example.com/image19.jpg                 8.2          146.0
19  https://www.example.com/image20.jpg                 8.5          102.0

                                              sinopse
0   Two imprisoned men bond over several years, fi...  \
1   The aging patriarch of an organized crime dyna...
2   When the menace known as The Joker wreaks havo...
3   The lives of two mob hitmen, a boxer, a gangst...
4   An insomniac office worker and a devil-may-car...
5   The presidencies of Kennedy and Johnson, the e...
6   A thief who steals corporate secrets through t...
7   When a beautiful stranger leads computer hacke...
8   A meek Hobbit from the Shire and eight compani...
9   Earth's mightiest heroes must come together an...
10  A team of explorers travel through a wormhole ...
11  A former Roman General sets out to exact venge...
12  A young F.B.I. cadet must confide in an incarc...
13  Lion prince Simba and his father are targeted ...
14  An undercover cop and a mole in the police att...
15  In German-occupied Poland during World War II,...
16  After a tragic accident, two stage magicians e...
17  Scottish warrior William Wallace leads his cou...
18  The story of Henry Hill and his life in the mo...
19  A cynical nightclub owner protects an old flam...

                      diretor_filme  ano_lancamento  nota_filme
0                    Frank Darabont            1994         9.3  \
1              Francis Ford Coppola            1972         9.2
2                 Christopher Nolan            2008         9.0
3                 Quentin Tarantino            1994         8.9
4                     David Fincher            1999         8.8
5                   Robert Zemeckis            1994         8.8
6                 Christopher Nolan            2010         8.7
7   Lana Wachowski, Lilly Wachowski            1999         8.7
8                     Peter Jackson            2001         8.7
9                       Joss Whedon            2012         8.6
10                Christopher Nolan            2014         8.6
11                     Ridley Scott            2000         8.5
12                   Jonathan Demme            1991         8.6
13        Roger Allers, Rob Minkoff            1994         8.5
14                  Martin Scorsese            2006         8.5
15                 Steven Spielberg            1993         8.5
16                Christopher Nolan            2006         8.5
17                       Mel Gibson            1995         8.3
18                  Martin Scorsese            1990         8.2
19                   Michael Curtiz            1942         8.5

         produtora_filme                           atores idiomas
0      Columbia Pictures       Tim Robbins,Morgan Freeman    None  \
1     Paramount Pictures         Bob Gunton,Marlon Brando    None
2           Warner Bros.             Al Pacino,James Caan    None
3                Miramax     Robert Duvall,Christian Bale    None
4       20th Century Fox       Heath Ledger,Aaron Eckhart    None
5     Paramount Pictures  John Travolta,Samuel L. Jackson    None
6           Warner Bros.       Bruce Willis,Edward Norton    None
7           Warner Bros.   Brad Pitt,Helena Bonham Carter    None
8        New Line Cinema           Tom Hanks,Robin Wright    None
9         Marvel Studios    Gary Sinise,Leonardo DiCaprio    None
10    Paramount Pictures                             None    None
11            DreamWorks                             None    None
12        Orion Pictures                             None    None
13  Walt Disney Pictures                             None    None
14          Warner Bros.                             None    None
15    Universal Pictures                             None    None
16   Touchstone Pictures                             None    None
17    Paramount Pictures                             None    None
18          Warner Bros.                             None    None
19          Warner Bros.                             None    None

    nota_avaliacao
0              9.0
1              8.5
2              7.5
3              8.0
4              9.5
5              6.5
6              8.5
7              7.0
8              9.0
9              8.0
10             9.5
11             8.0
12             7.5
13             9.0
14             8.5
15             7.0
16             9.0
17             8.0
18             8.5
19             7.5

Filmes lançados em 1999

In [27]:
query1 = "SELECT * FROM Filme WHERE ano_lancamento = 1999"
df1 = pd.read_sql_query(query1, conn)
print(df1)

   id_filme  nome_filme genero_filme                              imdb_link
0         5  Fight Club        Drama  https://www.imdb.com/title/tt0137523/  \
1         8  The Matrix       Action  https://www.imdb.com/title/tt0133093/

                             img_link  popularidade_filme  duracao_filme
0  https://www.example.com/image5.jpg                 8.8          139.0  \
1  https://www.example.com/image8.jpg                 8.7          136.0

                                             sinopse
0  An insomniac office worker and a devil-may-car...  \
1  When a beautiful stranger leads computer hacke...

                     diretor_filme  ano_lancamento  nota_filme
0                    David Fincher            1999         8.8  \
1  Lana Wachowski, Lilly Wachowski            1999         8.7

    produtora_filme
0  20th Century Fox
1      Warner Bros.

Filmes com nota maior ou igual a 8.0

In [28]:
query2 = "SELECT * FROM Filme WHERE nota_filme >= 8.0"
df2 = pd.read_sql_query(query2, conn)
print(df2)

    id_filme                                         nome_filme genero_filme
0          1                           The Shawshank Redemption        Drama  \
1          2                                      The Godfather        Crime
2          3                                    The Dark Knight       Action
3          4                                       Pulp Fiction        Crime
4          5                                         Fight Club        Drama
5          6                                       Forrest Gump        Drama
6          7                                          Inception       Action
7          8                                         The Matrix       Action
8          9  The Lord of the Rings: The Fellowship of the Ring    Adventure
9         10                                       The Avengers       Action
10        11                                       Interstellar    Adventure
11        12                                          Gladiator       Action
12        13                           The Silence of the Lambs        Crime
13        14                                      The Lion King    Animation
14        15                                       The Departed        Crime
15        16                                   Schindler's List    Biography
16        17                                       The Prestige      Mystery
17        18                                         Braveheart    Biography
18        19                                         Goodfellas        Crime
19        20                                         Casablanca        Drama

                                imdb_link
0   https://www.imdb.com/title/tt0111161/  \
1   https://www.imdb.com/title/tt0068646/
2   https://www.imdb.com/title/tt0468569/
3   https://www.imdb.com/title/tt0110912/
4   https://www.imdb.com/title/tt0137523/
5   https://www.imdb.com/title/tt0109830/
6   https://www.imdb.com/title/tt1375666/
7   https://www.imdb.com/title/tt0133093/
8   https://www.imdb.com/title/tt0120737/
9   https://www.imdb.com/title/tt0848228/
10  https://www.imdb.com/title/tt0816692/
11  https://www.imdb.com/title/tt0172495/
12  https://www.imdb.com/title/tt0102926/
13  https://www.imdb.com/title/tt0110357/
14  https://www.imdb.com/title/tt0407887/
15  https://www.imdb.com/title/tt0211915/
16  https://www.imdb.com/title/tt0482571/
17  https://www.imdb.com/title/tt0112573/
18  https://www.imdb.com/title/tt0099685/
19  https://www.imdb.com/title/tt0034583/

                               img_link  popularidade_filme  duracao_filme
0    https://www.example.com/image1.jpg                 9.3          142.0  \
1    https://www.example.com/image2.jpg                 9.2          175.0
2    https://www.example.com/image3.jpg                 9.0          152.0
3    https://www.example.com/image4.jpg                 8.9          154.0
4    https://www.example.com/image5.jpg                 8.8          139.0
5    https://www.example.com/image6.jpg                 8.8          142.0
6    https://www.example.com/image7.jpg                 8.7          148.0
7    https://www.example.com/image8.jpg                 8.7          136.0
8    https://www.example.com/image9.jpg                 8.7          178.0
9   https://www.example.com/image10.jpg                 8.6          143.0
10  https://www.example.com/image11.jpg                 8.6          169.0
11  https://www.example.com/image12.jpg                 8.5          155.0
12  https://www.example.com/image13.jpg                 8.6          118.0
13  https://www.example.com/image14.jpg                 8.5           88.0
14  https://www.example.com/image15.jpg                 8.5          151.0
15  https://www.example.com/image16.jpg                 8.5          195.0
16  https://www.example.com/image17.jpg                 8.5          130.0
17  https://www.example.com/image18.jpg                 8.3          177.0
18  https://www.example.com/image19.jpg                 8.2          146.0
19  https://www.example.com/image20.jpg                 8.5          102.0

                                              sinopse
0   Two imprisoned men bond over several years, fi...  \
1   The aging patriarch of an organized crime dyna...
2   When the menace known as The Joker wreaks havo...
3   The lives of two mob hitmen, a boxer, a gangst...
4   An insomniac office worker and a devil-may-car...
5   The presidencies of Kennedy and Johnson, the e...
6   A thief who steals corporate secrets through t...
7   When a beautiful stranger leads computer hacke...
8   A meek Hobbit from the Shire and eight compani...
9   Earth's mightiest heroes must come together an...
10  A team of explorers travel through a wormhole ...
11  A former Roman General sets out to exact venge...
12  A young F.B.I. cadet must confide in an incarc...
13  Lion prince Simba and his father are targeted ...
14  An undercover cop and a mole in the police att...
15  In German-occupied Poland during World War II,...
16  After a tragic accident, two stage magicians e...
17  Scottish warrior William Wallace leads his cou...
18  The story of Henry Hill and his life in the mo...
19  A cynical nightclub owner protects an old flam...

                      diretor_filme  ano_lancamento  nota_filme
0                    Frank Darabont            1994         9.3  \
1              Francis Ford Coppola            1972         9.2
2                 Christopher Nolan            2008         9.0
3                 Quentin Tarantino            1994         8.9
4                     David Fincher            1999         8.8
5                   Robert Zemeckis            1994         8.8
6                 Christopher Nolan            2010         8.7
7   Lana Wachowski, Lilly Wachowski            1999         8.7
8                     Peter Jackson            2001         8.7
9                       Joss Whedon            2012         8.6
10                Christopher Nolan            2014         8.6
11                     Ridley Scott            2000         8.5
12                   Jonathan Demme            1991         8.6
13        Roger Allers, Rob Minkoff            1994         8.5
14                  Martin Scorsese            2006         8.5
15                 Steven Spielberg            1993         8.5
16                Christopher Nolan            2006         8.5
17                       Mel Gibson            1995         8.3
18                  Martin Scorsese            1990         8.2
19                   Michael Curtiz            1942         8.5

         produtora_filme
0      Columbia Pictures
1     Paramount Pictures
2           Warner Bros.
3                Miramax
4       20th Century Fox
5     Paramount Pictures
6           Warner Bros.
7           Warner Bros.
8        New Line Cinema
9         Marvel Studios
10    Paramount Pictures
11            DreamWorks
12        Orion Pictures
13  Walt Disney Pictures
14          Warner Bros.
15    Universal Pictures
16   Touchstone Pictures
17    Paramount Pictures
18          Warner Bros.
19          Warner Bros.

Filmes do gênero Ação

In [30]:
query3 = "SELECT * FROM Filme WHERE genero_filme = 'Action'"
df3 = pd.read_sql_query(query3, conn)
print(df3)

   id_filme       nome_filme genero_filme
0         3  The Dark Knight       Action  \
1         7        Inception       Action
2         8       The Matrix       Action
3        10     The Avengers       Action
4        12        Gladiator       Action

                               imdb_link                             img_link
0  https://www.imdb.com/title/tt0468569/   https://www.example.com/image3.jpg  \
1  https://www.imdb.com/title/tt1375666/   https://www.example.com/image7.jpg
2  https://www.imdb.com/title/tt0133093/   https://www.example.com/image8.jpg
3  https://www.imdb.com/title/tt0848228/  https://www.example.com/image10.jpg
4  https://www.imdb.com/title/tt0172495/  https://www.example.com/image12.jpg

   popularidade_filme  duracao_filme
0                 9.0          152.0  \
1                 8.7          148.0
2                 8.7          136.0
3                 8.6          143.0
4                 8.5          155.0

                                             sinopse
0  When the menace known as The Joker wreaks havo...  \
1  A thief who steals corporate secrets through t...
2  When a beautiful stranger leads computer hacke...
3  Earth's mightiest heroes must come together an...
4  A former Roman General sets out to exact venge...

                     diretor_filme  ano_lancamento  nota_filme produtora_filme
0                Christopher Nolan            2008         9.0    Warner Bros.
1                Christopher Nolan            2010         8.7    Warner Bros.
2  Lana Wachowski, Lilly Wachowski            1999         8.7    Warner Bros.
3                      Joss Whedon            2012         8.6  Marvel Studios
4                     Ridley Scott            2000         8.5      DreamWorks

In [ ]:
conn.close()